main {
  height: auto;
}

h1 {
  font-size: 1.9rem;
  padding: 1rem 0;
}

h3, h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* footer {
  height: 7vh;
  background: red;
} */

.rating span {
  margin: 0.1rem;
}
