main {
  min-height: 85vh;
}

h1 {
  font-size: 1.9rem;
  padding: 1rem 0;
}

h3, h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

footer {
  height: 7vh;
  background: #EEE;
}

.rating span {
  margin: 0.1rem;
}


label {
  margin-bottom: 0.8rem;
}
